@media screen and (max-width: 640px) {
    th {
        font-size: 12px;
        padding: 4px;
    }
    td{
        font-size: 12px;
        padding: 4px;
    }
    .icon{
        width: 20px;
        height: 20px;
        position: relative;
        left: 10px;
    }
     
    
    
   
}